div(style="width: 100%; height: 100%;" '#sidediv')
    div.button(col content-center align-center '(click)'="goTo('home')")
        i.material-icons home
        div.label home
    div.button(col content-center align-center '(click)'="goTo('resume')")
        i.material-icons description
        div.label resum&eacute;
    div.button(col content-center align-center '(click)'="goTo('dashboard')")
        i.material-icons dashboard
        div.label dashboard
    div.button(col content-center align-center '(click)'="goTo('themes')")
        i.material-icons color_lens
        div.label themes
    div.button(col content-center align-center '(click)'="goTo('/')")
        i.material-icons exit_to_app
        div.label logout
    div(fxGrow="1")