.image-filter {
	max-width: 45%;
	max-height: 25%;
	margin-top: 60px;
	text-align: center;
}

.slide-cont {
	width: 60vw;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.slidetitle {
	font-family: 'Noto Sans';
	font-weight: 700;

}

