ng-container('[ngSwitch]'="size")
    h1('*ngSwitchCase'="1" '#toolbartitle') {{title}}
    h2('*ngSwitchCase'="2" '#toolbartitle') {{title}}
    h3('*ngSwitchCase'="3" '#toolbartitle') {{title}}
    h4('*ngSwitchCase'="4" '#toolbartitle') {{title}}
    h5('*ngSwitchCase'="5" '#toolbartitle') {{title}}
    h6('*ngSwitchCase'="6" '#toolbartitle') {{title}}
    h1.display('*ngSwitchCase'="12" '#toolbartitle') {{title}}
    h2.display('*ngSwitchCase'="11" '#toolbartitle') {{title}}
    h3.display('*ngSwitchCase'="10" '#toolbartitle') {{title}}
    h4.display('*ngSwitchCase'="9" '#toolbartitle') {{title}}
    h5.display('*ngSwitchCase'="8" '#toolbartitle') {{title}}
    h6.display('*ngSwitchCase'="7" '#toolbartitle') {{title}}
    span('*ngSwitchDefault' '#toolbartitle') {{title}}
