main-container(color="primary" title="Dashboard" logo="/assets/img/fake_logo.png")
    div(row content-start align-center)
        ui-pie(id="piechart1" style="width: 40%; height: 40%; min-width: 500px; min-height: 500px;")
        ui-bar(id="barchart1" style="width: 40%; height: 40%; min-width: 500px; min-height: 500px;")
        ui-area(id="areachart1" style="width: 40%; height: 40%; min-width: 500px; min-height: 500px;")
        ui-pyramid(id="pyramidchart1" style="width: 40%; height: 40%; min-width: 500px; min-height: 500px;")