main-container(color="primary" title="Themes" logo="/assets/img/fake_logo.png")
    div(row center-start align-start)
        ng-container('*ngFor'="let theme of myThemes; index as i")
            div(style="background-color: #fff; padding: 6px; border-radius: 4px; margin: 10px; cursor: pointer;" '(click)'="setActiveTheme(i)")
                div {{themeNames[i]}}
                div(row content-start align-start nowrap)
                    div.theme-color('[ngStyle]'="{'background-color': theme?.primary || themeDefaults.primary}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.accent || themeDefaults.accent}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.secondary || themeDefaults.secondary}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.warn || themeDefaults.warn}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.danger || themeDefaults.danger}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.info || themeDefaults.info}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.success || themeDefaults.success}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.dark || themeDefaults.dark}")
                    div.theme-color('[ngStyle]'="{'background-color': theme?.light || themeDefaults.light}")