div(row content-start align-center nowrap fxshrink="3" style="cursor: pointer; margin: 0 1vw;" '(click)'="goTo(url)")
    i.material-icons('#btnIcon') {{icon}}
    h4(style="margin: 0; margin-left: 8px;" '#btnLabel') {{label}}