app-container()
    div.circlediv(row-top-left '#contentdiv')
        div.imgscreen(row-top-left nowrap '#imgscreen')
            resume-profile('bgColor'="secondary" style="height: 100vh;")
            div(style="width: 100%; height: 100%;" col-top-center)
                div(style="width: 100%; height: 100%; overflow-y: scroll;" col-top-center nowrap)
                    div(style="width: 75%; margin-top: 5vh;")
                        resume-card(style="width: 100%;" 'themeColor'="secondary" 'header'="Experience" 'cardEffect'="effect3" row content-center align-start)
                            resume-exp('[jobs]'="jobs")
                    div(style="width: 75%; margin-top: 5vh;")
                        resume-card(style="width: 100%;" 'themeColor'="secondary" 'header'="Skills" 'cardEffect'="effect2" row content-center align-start)
                            resume-skills('[skills]'="skills")
                    div(style="width: 75%; margin-top: 5vh;")
                        resume-card(style="width: 100%;" 'themeColor'="secondary" 'header'="Training & Education" 'cardEffect'="effect3" row content-center align-start)
                            div(style="padding: 1vh 1vw;")
                                ng-container('*ngFor'="let school of schools")
                                    div(row-center-wide)
                                        h4(style="margin: 0.5rem 0;") {{school.school}}
                                        div {{school.dates}}
                                    h5 {{school.degree}}
                    div(style="width: 75%; margin-top: 5vh; margin-bottom: 5vh;")
                        resume-card(style="width: 100%;" 'themeColor'="secondary" 'header'="Endorsements" 'cardEffect'="effect4")
                            div(style="padding: 1vh 1vw;")
                                div(row-center-wide)
                                    h3(style="margin: 0; margin-bottom: 0.5rem;") Rosselle Arnaiz-Cruz
                                    div T-Mobile USA, Inc.
                                h5 Sr. Systems Analyst
                                p(style="padding: 0 36px;")
                                    i.material-icons(style="transform: rotateY(180deg); font-size: 36px;") format_quote
                                    | Todd is an expert systems analyst which brings not just deep technical knowledge but also business acumen in every project that he worked in. Being with him in the same team of highly driven SAs, I can say that Todd is always able to rise up to the occasion and deliver beyond expectations. While he is able to see any crack in the project development and delivery process, he is also very quick in providing logical solutions and remedies. Todd is someone whom anyone who desires to ensure timely and quality project delivery would want to work with.
                                    br
                                    div(row-btm-right)
                                        i.material-icons(style="font-size: 36px; margin-top: -18px;") format_quote
